*{margin: 0; padding: 0; border: 0; outline: 0;}

html,body{background: #fff;}

.containerS{
	width: 1140px;
	margin: 0 auto;
	background: #fff;	
}
.containerDZ{
	width: 940px;
	background: #fff;

}
.containerCC{
	width: 1140px;
	margin: 0 auto;
	background: #fff;	
}
header{
	height: 101px;
	width: 1140px;
	margin: 0 auto;
	display: block;
}
.dz{
	margin: 100px auto 60px;
 	text-align: center;
	width: 400px;
	height: 300px;
	border: 3px solid red;
	background: skyblue;
}
.dz2, .dz3 {
	margin: 100px auto 60px;
 	text-align: center;
	width: 900px;
	height: 1000px;
	border: 3px solid red;
	background: skyblue;
}
.dz3{
	height: 500px;
}


#flexH{

	display: flex;
	justify-content: space-between;
}
.flexP{
	display: flex;
	justify-content: space-between;
}
.logo{
	padding: 20px;
	float: left;
	position: relative;
	
}
.vcart{
	float: left;
	position: relative;
	height: 40px;
	width: 30px;
	height: 37px;

	
}
.vca{
	float: left;
	position: relative;
	max-width: 50%;
}
.vcaf{
	display: flex;
	justify-content: space-between;
	flex-direction: row;

}
.navbar{
	top:32px;
	left: 37px;
	padding: 0px;
	width: 404px;
	height: 37px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;

}
.navbarDZ{
	margin: 0 auto;
	padding: 0px;
	width: 604px;
	height: 37px;
	display: flex;
	justify-content: flex-start;

}
.pravo{
	position: relative;
	top:32px;
	right: 0px;
	padding: 0px;
	width: 200px;
	height: 37px;
	display: flex;
	justify-content: flex-start;

}
.btn-primary {
	background: #f8f8f8;	
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	border-left: 1px solid #bfbfbf;
	height: 37px;
	width: 87px;
	border-right: 1px solid #bfbfbf;

}
.btn-default {
	background: #fff;	
	border: 0px;
	height: 37px;
	width: 87px;
	border-right: 1px solid #bfbfbf;

}

.dropdown-menu:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #ebebeb;
    border-top: none;
    top: 0px;
    left: 21%;
    margin-top: -15px;
}
.btn3 {
	height: 50px;
	margin: 0 20px	;
	width: 220px;
	border: 1px solid #f16d7f;
	background: #fff;

}
.btn4{
	height: 10px;
	margin: 0 20px	;
	width: 220px;
	border: 1px solid #eaeaea;
	background: #fff;

}
.btn5{
	height: 50px;
	margin: auto;	
	width: 122px;
	border: 1px solid #eaeaea;
	opacity: 0;

	position: absolute;
	top: 96px;
	left: 70px;
	z-index: 1;


}
.check {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(241, 109, 127);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.go_to_cart {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(74, 74, 74);
  font-weight: bold;
  text-transform: uppercase;
}


.cart {
	border: 0px!important;
}
.account {
	border: 0px!important;
	background: #f16d7f;
	width: 130px;
}
.account2 {
	border: 0px!important;
	background: #f16d7f;
	width: 100px;
	border-radius:  0px 20px 20px 0px;
}

.dalee {
	border: 0px!important;
	background: #f16d7f;
	width: 212px;
	height: 50px;
}
.menu {
	position: relative;
	list-style:none;
	float: right;
    display: flex;
    justify-content: space-between;
    width: 602px;
}
.menu li{
	position: relative; 
	line-height: 130px;
}
.menu li a{
	font-size: 19px;
	font-family: "Segoe UI";
	color: rgb( 84, 84, 84 );
	text-decoration: none;
}

.menu #Home::before {
  	content: url('../img/Home.png');
	position: absolute;
	margin-top: 8px;
	top:  0; left: -38px;
}
.menu #About::before {
  	content: url('../img/about.png');
	position: absolute;
	margin-top: 3px;
	top:  0; left: -38px;
}
.menu #Services::before {
  	content: url('../img/Services.png');
	position: absolute;
	margin-top: 5px;
	top:  0; left: -38px;
}
.menu #Conatct::before {
  content: url('../img/Conatct.png');
	position: absolute;
	margin-top: 4px;
	top:  0; left: -38px;
}

header h1{
	position: relative;
	font-size: 27px;
	top:40px;
  	font-family: 'Lato Light', sans-serif;
  	font-weight: 100;  
  	color: rgb(34, 34, 34);
  	text-transform: uppercase;
  	line-height: 32px;
  	text-align: center;
  	float: left;
}
.h1{
	position: relative;
	font-size: 27px;
	top:40px;
  	font-family: 'Lato Light', sans-serif;
  	font-weight: 100;  
  	color: rgb(34, 34, 34);
  	text-transform: uppercase;
  	line-height: 32px;
  	text-align: center;
  	float: left;
}
.lastD{
	color: rgb(241, 109, 127);
	font-family: 'Lato', sans-serif;
	font-weight: bold; 
}
.lastD4{
	font-size: 18px;
	color: rgb(241, 109, 127);
	font-family: 'Lato', sans-serif;
	font-weight: bold; 
	line-height: 1.444;
	text-transform: uppercase;
	margin-bottom: 50px; 
}

.Browse {
  	font-size: 14px;
  	font-family: "Lato Light";
  	color: rgb(34, 34, 34);

  }
.subnav li{
	list-style-type:none;  
}

main{
	position: relative;
	width: 1140px;
}
.m201{ 
	margin: 0px 20px 10px 0px;
}
.m202{ 
	margin: 0px 0px 20px 10px;
}
.m203{ 
	margin: 10px 0px 10px 0px;
}
.m204{ 
	margin: 0px 20px 10px 0px;
}
.dropdown-menu li{
	margin-top: 15px;
	list-style:none;	
}

.dropdown-toggle::after {
	color: black;
}
.btn{

	border-radius: .25rem 0 0 0;
}
.btn2{
	margin: 0px;
	padding: 0px;
	border-radius: 0 .25rem .25rem 0;
	background: #f8f8f8;	
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	border-left: 1px solid #bfbfbf;
	height: 37px;
	width: 37px;
	border-right: 1px solid #bfbfbf;

}
.form-inline{width: 316px;}
.form-control{
	margin: 0px;
	padding: 0px;
	width: 279px!important; 
	border-radius: 0;
	height: 37px;
}
input[type="search"]::placeholder { 
	padding-left: 16px;
	color: #a4a4a4; } 

.syka{
	position: absolute;
	width: 100%;
	overflow: auto;
}

.Rebox_Zane {
  font-size: 12px;
  font-family: "Lato Bold";
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.zvezda {
  font-size: 12px;
  font-family: "FontAwesome";
  color: rgb(228, 175, 72);
  text-transform: uppercase;
}
.zvezda2 {
  font-size: 12px;
  font-family: "FontAwesome";
  color: rgb(228, 175, 72);
  text-transform: uppercase;
}
.zvezda3 {
  font-size: 16px;
  font-family: "FontAwesome";
  color: rgb(228, 175, 72);
  text-transform: uppercase;
}
.sm2 {
    max-width: 150%;
}
.cart_price {
  font-size: 12px;
  font-family: "Lato";
  color: rgb(241, 109, 127);
  text-transform: uppercase;
  line-height: 1.2;
}
.prod_price {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(241, 109, 127);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: bold;
}

.TOTAL{
  font-size: 16px;
  font-family: "Lato";
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.myacc{
  font-size: 15px;
  font-family: "Lato Bold";
  color: rgb(255, 255, 255);
  line-height: 2.133;
  text-transform: capitalize;
}
.mydal{
  font-size: 16px;
  font-family: "Lato Bold";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.133;
  text-transform: capitalize;
}

.hide_zvevda
{
 opacity: 0;
}
.hide_zvevda:hover{
opacity: 1;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}	
.carousel {

	width: 100%;
	height: 681px;
	overflow: hidden;
}
.dropdown-menu.show {
width: 260px;	
}
#citata{
	padding-top: 8px;
	margin: 35px 10px 30px 10px;
	padding-bottom: 19px;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	text-align: center;
}
#citvidB{
  	font-size: 23px;
  	font-family: "Segoe UI";
  	color: rgb(130, 105, 157);
  	font-weight: bold;
  	font-style: italic;
  	line-height: 1.565;
}
#citvid{
  	font-size: 23px;
  	font-family: "Segoe UI";
 	color: rgb(73, 72, 72);
  	font-style: italic;
  	line-height: 1.565;
}

.content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}
.circle {
  	position: relative;
 	left: 25px;
 	top: 0px;
  	width: 307px;
  	height: 304px;

}

.Lorem {
 	margin: 100px auto 60px;
 	text-align: center;
}
.Lorem_ipsum_dolor_sit_amet {

  font-size: 30px;
  font-family: "Lato";
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 1.8;
  text-transform: capitalize;
}
.Group_1 {
  	position: absolute;
  	left: 0px;
  	top: 0px;
  	width: 1300px;
  	height: 1462px;
  	z-index: 76;
}

.Sed{
		  font-size: 14px;
	  font-family: "Lato";
	  color: rgb(159, 159, 159);
	  line-height: 3.857;
	  text-align: center;

}

.Mango {
  font-size: 13px;
  font-family: "Lato Bold";
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

#Where{
  	font-size: 23px;
 	font-family: "Segoe UI";
  	color: rgb(0, 0, 0);
  	font-weight: bold;
  	line-height: 36px;

}
.clients{
  	margin-top: 30px;

}
.prodv{
	height: 280px;
	width: 260px;
	z-index: 5;
}
.prodv1{
	height: 90px;
	width: 60px;
	z-index: 5;
}
.prodv:hover{
	opacity: 0.5;
}
.prodv:hover + .btn5{
	opacity: 1;
	  transition: opacity .3s;
}


.menuSP {
	margin-top: 25px;
	margin-bottom: 40px;
	position: relative;
	list-style:none;
    display: flex;
    padding-top: 8px;
	
	padding-bottom: 19px;
	text-align: center;
}
.menuSP li{
	position: relative; 
	line-height: 130px;
	background: #e8e8e8;
	height: 73px;
	width: 252px;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	border-left: 1px solid #bfbfbf;
}
#Busweek{
		border-right: 1px solid #bfbfbf;
}
.menuSP li a{
	font-size: 19px;
	font-family: "Segoe UI";
	color: rgb( 84, 84, 84 );
	text-decoration: none;
	margin: auto;
}

.menuSP #AboutC::before {
  content: url('../img/abc.png');
  	position: relative;
	margin: auto;
	top:  -25%; left: 0%;
  }
.menuSP #Mashable::before {
  content: url('../img/mash.png');
position: relative;
	margin: auto;
	top:  -25%; left: 0%;
	}
.menuSP #Tech::before {
  content: url('../img/tc.png');
  position: relative;
	margin: auto;
	top:  -25%; left: 0%;
	}
.menuSP #Busweek::before {
  content: url('../img/bus.png');
  position: relative;
	margin: auto;
	top:  -25%; left: 0%;
	
}

.image_plus {
	position	: relative;
	width		: 100%; /* for IE 6 */
	background-color:rgba(89,87,87,0.5);

}
.image_plus1 {
	position	: relative;
	height: 90px;
	width: 60px;
	background-color:rgba(89,87,87,0.5);

}
.h2_text {
	
  font-size: 13px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;

}



footer{
	font-size: 19px;
	font-family: "Lato bold";
	background: #e8e8e8;
	text-decoration: none;
	margin: auto;
	height: 70px;
	display: flex;
	justify-content: space-between;
}
footer p{
	font-size: 16px;
  font-family: "Lato boldI";
  color: rgb(69, 66, 66);
  line-height: 2.4;
  margin: 15px 70px;
  position: relative;
}
#soc{
	position: relative;
	right: 0px;
	display: flex;	
}
.logoR{
	margin: 10px;
	width: 35px;
	height: 35px;
}
.zakrS{
	position: relative;
	margin: auto;
	top: 25%;
	right: 0px;
}
.Home {
  font-size: 14px;
  font-family: "Lato bold";
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.857;
  display: inline-block;
  text-align: center;

}
.borderv{
border-top: 1px solid #ececec;
}

.borderv:hover + .dropdown-menu{
	display: block;
}
.cae{
	margin-bottom: 100px;
}
.niz {
width: 100%;
	height: 440px;
	
}
.nizcit {
	position: absolute;
	width: 100%;
	height: 440px;
}
#flexHN{

	display: flex;
	justify-content: center;
}
.n1{
	margin: 100px 0;
	width: 570px;
	height: 300px;
	border-right: 1px solid #ececec;
}
.logs{
	float: left;
	position: relative;
	width: 80px;
	height: 80px;
	
}
.floatl{
	float: left;
	position: relative;
}

.carousel-indicators { 
	position: relative;
color: white;}

.vest{
  font-size: 16px;
  font-family: "Lato";
  color: rgb(34, 34, 36);
  font-style: italic;
  line-height: 1.625;
  font-weight: bold;
}
.citcit{
		position: relative;
		margin-left: 110px;
		margin-right: 70px;
}
.bin {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(241, 109, 127);
  font-weight: bold;
  line-height: 1.625;
}
.vest2{
  font-size: 12px;
  font-family: "Lato";
  color: rgb(34, 34, 36);
  font-weight: bold;
}
.citcit2{
	position: relative;
		margin: auto;
		text-align: center;
}
.vest3{
font-size: 24px;
  font-family: "Lato";
  color: rgb(34, 34, 36);
  text-transform: uppercase;
  line-height: 2.25;
  font-weight: bold;

}
.vest4{
  font-size: 14px;
  font-family: "Lato";
  color: rgb(34, 34, 36);
  font-weight: bold;
}
#inlines{
	width: 280px!important;
	height: 50px;
	z-index: 50;
}
.form-inline2{
	margin: 30px auto;
	width: 400px;
}
.form-control2{
	border-radius: 20px 0px 0px 20px;
	background: #e1e1e1;
	padding-left: 30px;
	width: 280px;
}

.objectively {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(137, 137, 137);
  line-height: 1.714;
}

.w50{
	max-width: 50%;
}
.w100{
	max-width: 75%;
}
.ot100{
	margin-top: 100px;
	margin-bottom: 80px;
}
.bflex{
	display: block;
}


